doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    header
      div
        h1 Erinç Consulting
      div.navbar
        a(href="/") Ana Sayfa
        a(href="/posts") Gönderiler
        a(href="/references") Referanslar
        a(href="/contact") İletişim
      hr
    block content
