extends layout

block content
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js")
    body
        h1.centered Your Mind Partner
        img(src="/images/main.jpeg", alt="main1" width="100%")